@import url('https://fonts.googleapis.com/css?family=Jacques Francois');

html,body{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
   flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  min-height: 100vh;
  min-width: 100vh;
  background:transparent;
  overflow:scroll;
  padding:0;
  border: 0;
  margin: 0;
}
.App{
  height:100%;
  width:100%;
display: flex;
float: left;
flex-direction: column;
justify-content:center;
flex:20% 80%;
flex-flow: wrap;
border: 1px solid black;

}
.body{
background-color: blue;
height:80%;
width:100%;
display: grid;
grid-template-columns: 2fr 10fr;
min-height: 100vh;
min-width: 100vh;

}
.header,.footer{
background-color: brown;
height:20%;
width:100%;
}
.header{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
   max-height: 200px;
   height: 20%;
   width:100%;
}
.headerLeft{
  display:grid; 
  width:50%;
  height:100%;
  grid-template-rows: 1fr 1fr;
  background-color: pink;
}
.headerRight{
  display:grid; 
  width:50%;
  height:100%;
  grid-template-rows: 3fr 9fr;
  background-color: magenta;
}
.rightheader1{
 order:1;
 height:100%;
 background-color: yellow; 
}
.rightheader2{
  order:2;
  height:100%;
  background-color: green; 
 }
.weather{
  display:grid;
  width: 70%;
  height:40%;
  grid-template-columns:repeat(3 ,1fr);
  grid-template-rows: repeat(2,1fr);   
  background-color:white;
}
.item1 ,.fas fa-cloud{
  background-color: white;

  grid-row: 1/1;
  grid-column: 1/1;
}
.item2{
  grid-row: 1/1;
  grid-column: 2/4;
  text: Egyptian;
  font-display:Sans;
}
.item3 .item4 .item5 .item6 .fas fa-cloud{
  grid-column: 1/1;
  grid-row: 2/1;
  opacity: -.5;

}
ul{
  list-style-type:none;
  list-style: none;
  width: 100%;

  font-weight: bold;

}
li {
  display:inline-block;

  background-color:white;
}
.vl {
  border-left: 6px solid white;
  height: 30px;
}
.navbar{
  display:inline-flex; 
  flex-direction: row;
  width: 100%;
  height:100%;

}

.left{
  order:1;
  background-color: cornsilk;
}
.main{
  display: grid;
  order:2;
  float:down;
  background-color:lightcyan;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6,2fr);
  
}
.box1 { 
  grid-column-start: 1; 
  grid-column-end: 5; 
  grid-row-start: 1; 
  grid-row-end: 3; 
  background-color: lightsalmon;
}
.box2{
  -ms-grid-column-span: 1;
  -ms-grid-row-span: 1;
  background-color: lightsteelblue;
  border: 2px solid black;
}

